@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import './custom.css';

body.fixed-nav header {
    position: fixed;
    box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    width: 100%;
    z-index: 999;
    top: 0px;
    --tw-bg-opacity: .87;
    background-color: rgb(237 237 237 / var(--tw-bg-opacity));
    transition: all .5s;
}